@font-face {
  font-family: "Reey";
  src: url("./../fonts/Reey-Regular.otf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Reey", sans-serif;
}
img {
  width: 100%;
}
section {
  margin: 40px 0;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}

/* ================================================================== 
This is header section 
================================================================== */
header {
  background-image: url(./../images/bg.png);
  background-repeat: no-repeat;

  background-position: center;
}
.nav__bar {
  display: flex;
  justify-content: center;
}
.bars {
  display: block;
}
.bars i {
  font-size: 1.75rem;
  margin: 15px 0;
  cursor: pointer;
}
.nav__bar ul {
  display: none;
}
.slider__wrapper {
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
  padding: 30px 0;
}
.slider__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.slider__content h1 {
  font-size: 2.5rem;
}
.heading__desc {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.btn {
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 50px;
  cursor: pointer;
}
.slider__content {
  text-align: justify;
}
/* ================================================================== 
This is main section 
================================================================== */
/* section header */
.section__header {
  max-width: 90%;
  margin: 0 auto;
  color: black;
  text-align: center;
}
.section__header h1 {
  margin-bottom: 25px;
}
.our__food-list {
  color: black;
}
.food__wrapper {
  margin-top: 30px;
  display: grid;
  grid-row-gap: 40px;
  grid-auto-flow: row;
}
.food__card h3 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10px;
}
.food__card p {
  text-align: justify;
}
.food-list__btn {
  display: grid;
  justify-content: center;
}
.btn__dark {
  margin-top: 60px;
  background-color: black;
  color: white;
}
.section__header-dark {
  color: #ffffff;
}
.food-desc {
  background-color: #27292c;
  padding: 40px 0;
  text-align: justify;
}
.food-desc__wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}
.more__info {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.discount__wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}
.discount__desc {
  color: black;
  text-align: justify;
}
.discount__desc h1 {
  font-family: "Open Sans", sans-serif;
}
.discount__btn {
  margin-top: 15px;
}
.no-name {
  background-image: url(./../images/bg2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  margin-bottom: 0;
}
.section-content {
  text-align: center;
  color: white;
  padding: 60px;
}
.subscribe {
  background-color: #27292c;
  padding: 200px 0;
}
.subscribe__wrapper {
  text-align: center;
}
.subscribe__wrapper h1 {
  margin-bottom: 25px;
}
.subscribe__wrapper p {
  margin-bottom: 25px;
}
.sub-info {
  display: flex;
  justify-content: center;
}
.sub-info input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 20px;
}
.sub-info input[type="email"] {
  width: 240px;
}
.sub-info input[type="button"] {
  background-color: #54524f;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  left: -50px;
  padding: 10px;
}
/* ================================================================== 
This is footer section 
================================================================== */
footer {
  color: black;
  padding: 40px 0;
}
.footer__wrap {
  display: grid;
  grid-row-gap: 20px;
}
.single__footer-card h1 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  font-weight: 600;
}
.single__footer-card p {
  margin-bottom: 15px;
  text-align: justify;
}
.social-icon ul {
  display: flex;
  gap: 20px;
}

.social-icon ul li a {
  background-color: #343434;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.footer-link a {
  color: #27292c;
  display: inline-block;
  margin-bottom: 5px;
}
.footer-link a:hover {
  color: #27292ccb;
}
small {
  display: block;
  text-align: center;
  margin: 20px 0;
}
small a {
  font-weight: bold;
  font-size: 1rem;
}
